.FeaturesSection {
  background: #f0e9dc;
  padding: 0 !important;
}

.FeaturesSection h3 {
  font-size: 22px;
  font-weight: 400 !important;
}

.FeaturesSection p {
  font-size: 14px;
  font-weight: 200 !important;
  letter-spacing: 1px;
  line-height: 29px;
}