.Features {
  padding: 0;
}

.Feature {
 
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.Feature-title {
  margin-bottom: 1.2rem !important;
}

.Feature-image {
  display: block;
  max-width: 300px;
  margin: 30px auto;
}
	
.Feature .is-8 {
  padding: 104px 109px !important;
  margin-top: 90px;
}

.title.is-3 {
  font-size: 2rem;
  font-weight: 100 !important;
}
  
.Feature .title.is-4 {
  color: #485f2e;
}
